@model LoginPage.Models.Ad_login
<script type="text/javascript">
    function addr() {
        location.href = "form";
    }
    function viewr() {
        location.href = "viewr";
    }
    function viewtasks() {
        location.href = "ViewTasks";
    }
    function viewleaves() {
        location.href = "ViewLeaves";
    }
    function teamadd() {
        location.href = "TeamAdd";
    }
</script>
<style>
    body {
        background-image: url(../../images/bg-11-full.jpg);

    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="add">Employee Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="add">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item ml-auto">
                        
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <center><h1>Welcome! @Model.Username</h1><br><h2>Select the operation you want to perform</h2></center><br>
    <center>
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Employee Details</h4>
                <p class="card-text">Add a new employee to the database or view the existing employees</p>
                <a href="form" class="btn btn-primary m-3">Add New Employee</a>
                <a href="viewr" class="btn btn-primary m-3">View All Employees</a>
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Employee Operations</h4>
                <p class="card-text">Add teams for employee usage. View leave requests and also approve or reject them. View all the tasks of employees.</p>
                <a href="TeamAdd" style="width:150px;" class="btn btn-primary"><span style="text-overflow:ellipsis;">Add New Team</span></a>
                <a href="ViewTasks" style="width:150px"class="btn btn-primary"><span style="text-overflow:ellipsis;">View All Tasks</span></a>
                <a href="Viewleaves" style="width:150px" class="btn btn-primary"><span style="text-overflow:ellipsis;">View All Leaves</span></a>
            </div>
        </div>
    </center>
</div>
