@model LoginPage.Models.Ad_login
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body{
            background-image:url(../../images/adlogin.jpg);
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
    <div class="container">
        <div class="page-header"><center><h1 style="color:white;">Admin Login</h1></center></div>
        <div class="row pt-5">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="needs-validation" asp-action="Adlogin" novalidate>
                    <div class="form-group">
                        <label class="control-label" style="color:white;">Username</label>
                        <input asp-for="Username" class="form-control" type="text" required />
                        <div class="invalid-feedback">Username is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white;">Password</label>
                        <input asp-for="Upassword" class="form-control" type="password" required />
                        <div class="invalid-feedback">Password is required.</div>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" style="display:none;" id="myAlert">
                        <button type="button" class="close">&times;</button>
                        The credentials entered are wrong.
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" id="myBtn" type="submit" value="Login" />
                        <input class="btn btn-outline-primary ml-4" type="reset" value="Reset" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
@{

    if (TempData["msg"] != null)
    { 
        @if (TempData["msg"].ToString() == "No")
        {
            <script>
                $(document).ready(function () {
                    $("#myAlert").show("slow", function () {
                        $(".close").click(function () {
                            $("#myAlert").alert("close");
                        });
                    });
                });
            </script>

        }          
    }
    else
    {
    <script>
        $(document).ready(function () {
            $("#myAlert").hide()
        });
    </script>
    }
}