@model LoginPage.Models.Ad_login
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<div class="container">
    <center><h1>Admin Login</h1></center>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal" asp-action="Adlogin">
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input asp-for="Username" class="form-control" type="text" required />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input asp-for="Upassword" class="form-control" type="password" required />
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" id="myBtn" type="submit" value="Login" />
                    <input class="btn btn-primary" type="reset" value="Reset" />
                </div>
                <div class="alert alert-danger alert-dismissible fade show" id="myAlert">
                    <button type="button" class="close">&times;</button>
                    <strong>Login failed!</strong> The credentials entered are wrong.
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
@{

    if (TempData["msg"] != null)
    {
        if (TempData["msg"].ToString() == "Yes")
        {
            <script>
                window.location.replace("add")
            </script>
        }
        @if (TempData["msg"].ToString() == "No")
        {
            <script>
                $(document).ready(function () {
                    $("#myAlert").show("slow", function () {
                        $(".close").click(function () {
                            $("#myAlert").alert("close");
                        });
                    });
                });
            </script>

        }      }
    else
    {
    <script>
        $(document).ready(function () {
            $("#myAlert").hide()
        });
    </script>
    }
    TempData["msg"] = null; 
}