@model LoginPage.Models.empadd
@{
    ViewData["Title"] = "Create Record";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            font-size: large;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 30px;
            font-weight: bold;
            padding-left: 300px;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="add">Employee Management System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="add">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto">

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <center><h1>Enter Employee Details</h1></center>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Record has been added</p>
            </div>
        </div>
                <form class="needs-validation" asp-action="form" novalidate>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input asp-for="name" class="form-control" required type="text" />
                        <div class="invalid-feedback">Name is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date of Birth</label>
                        <input asp-for="dob" class="form-control" type="date" required />
                        <div class="invalid-feedback">Date of birth is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Father's Name</label>
                        <input asp-for="father" class="form-control" type="text" required />
                        <div class="invalid-feedback">Father's name is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mother's Name</label>
                        <input asp-for="mother" class="form-control" type="text" required />
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Mother's name is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Address</label>
                        <input asp-for="address" class="form-control" type="text" required />
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Address is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Salary</label>
                        <input asp-for="salary" class="form-control" type="number" required />
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Salary is required.</div>
                    </div>
                    Fresher
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input asp-for="fresher"type="radio" class="form-check-input" value="Yes" >Yes
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input asp-for="fresher" type="radio" class="form-check-input" value="No">No
                        </label>
                    </div>
                    <div class="form-inline">
                        <label class="control-label p-3">Role</label>
                        <select asp-for="role" class="form-control">
                            <option value="Trainee">Trainee</option>
                            <option value="AST">AST</option>
                            <option value="System Engineer">System Engineer</option>
                            <option value="IT Analyst">IT Analyst</option>
                            <option value="Manager">Manager</option>
                            <option value="Lead">Lead</option>
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Notes</label>
                        <input class="form-control" asp-for="notes" type="text" required/>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" value="Submit" />
                        <input class="btn btn-outline-secondary" type="reset" value="Reset" />
                    </div>
                </form>

    </div>
</body>
</html>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
@{
    if (TempData["msg"] != null)
    {
        if (TempData["msg"].ToString() == "Yes")
        {
            <script>
                var modal = document.getElementById("myModal");
                var span = document.getElementsByClassName("close")[0];
                modal.style.display = "block";
                span.onclick = function () {
                    window.location.href = "../viewr";
                    modal.style.display = "none";
                }
            </script>
        }
        if (TempData["msg"].ToString() == "No")
        {
            <script>
                alert("Record creation failed")
            </script>
        }
    }
    else
    {
        <script>
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        </script>
    }
}