<script type="text/javascript">
    function ad() {
        location.href = "Home/Adlogin";
    }
    function emp() {
        location.href = "Employee/Emplogin";
    }
</script>
<div class="container">
    <center><h1>Welcome! Who are you?</h1><br><h2>Select from below</h2></center><br>
    <center>
        <button type="button" class="btn btn-primary m-4" onclick="ad()">Admin</button>
        <button type="button" class="btn btn-info" onclick="emp()">Employee</button>
    </center>
</div>
