<script type="text/javascript">
    function ad() {
        location.href = "Home/Adlogin";
    }
    function emp() {
        location.href = "Employee/Emplogin";
    }
</script>
<div class="container">
    <center><h1>Welcome!</h1><br></center><br>
    <center>
        Login as:
        <button style="width:110px;" type="button" class="btn btn-info" onclick="ad()"><span style="text-overflow:ellipsis;">Admin</span></button>
        <button style="width:110px;"type="button" class="btn btn-info" onclick="emp()"><span style="text-overflow:ellipsis;">Employee</span></button>
    </center>
</div>
