@model LoginPage.Models.Teamadd
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="add">Employee Details</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="add">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto">

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <center><h1>Enter Team Details</h1></center>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="alert alert-success alert-dismissible fade show" id="myAlert">
                    <button type="button" class="close">&times;</button>
                    <strong>Success!</strong> The team was added successfully.
                </div>
                <form class="form-vertical" asp-action="TeamAdd">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Project Start Date</label>
                        <input asp-for="Startdate" class="form-control" type="date" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Project End Date</label>
                        <input asp-for="Enddate" class="form-control" type="date" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" />
                        <input type="reset" value="Reset" />
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
</body>
@{
    if (TempData["msg"] != null)
    {
        if (TempData["msg"].ToString() == "Yes")
        {
            <script>
                $(document).ready(function () {
                    $("#myAlert").show('slow', function () {
                        $(".close").click(function () {
                            $("#myAlert").alert("close");
                        });
                    });
                });
            </script>
        }
        if (TempData["msg"].ToString() == "No")
        {
            <script>
                alert("Team addition failed")
            </script>
        }
    }
    else
    {
        <script>
            $(document).ready(function () {
                $("#myAlert").hide()
            });
        </script>
    }
}