@model LoginPage.Models.Emp_login
<script type="text/javascript">
    function viewr() {
        location.href = "Viewtask";
    }
    function leave() {
        location.href = "Leavespage";
    }
</script>
<style>
    body {
        background-image: url(../../images/bg-11-full.jpg);
    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="empop">Employee Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="empop">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="#">Privacy</a>
                    </li>
                    <li class="nav-item ml-auto">

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <center><h1>Hello! @Model.Username</h1><br><h2>Select the operation you want to perform</h2></center><br>
    <div class="row p-4">
        <div class="col-md-4"><h4 style="float:right">Your operations:</h4></div>
        <div class="col-md-8">
            <button style="width:230px;" type="button" class="btn btn-primary" onclick="viewr()"><span style="text-overflow:ellipsis;">My Tasks</span></button>
            <button style="width:230px;" type="button" class="btn btn-primary" onclick="leave()"><span style="text-overflow:ellipsis;">My Leaves</span></button>
         </div>
    </div>
</div>
