@model LoginPage.Models.Leaveapp
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url(../../images/watercolor5.jpg);
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            font-size: large;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 30px;
            font-weight: bold;
            padding-left: 300px;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="empop">Employee Management System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="empop">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="#">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto">

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <center><h1 style="font-family:'Baskerville Old Face';">Enter Leave Details</h1></center>
                <form class="needs-validation" method="post" enctype="multipart/form-data" asp-action="Leaveapplication" novalidate>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Leave request submited.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <input asp-for="Startdate" class="form-control" type="date" required />
                        <div class="invalid-feedback">Start date is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <input asp-for="Enddate" class="form-control" type="date" required />
                        <div class="invalid-feedback">End date is required.</div>
                    </div>
                    <div class="form-group">
                        <label for="Select1">Leave Type</label>
                        <select asp-for="Leavetype" class="form-control" id="Select1" required>
                            <option value="Sick Leave">Sick Leave</option>
                            <option value="Casual Leave">Casual Leave</option>
                            <option value="Earned Leave">Earned Leave</option>
                            <option value="Flexi Leave">Flexi Leave</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Reason</label>
                        <input asp-for="Reason" class="form-control" type="text" required />
                        <div class="invalid-feedback">Reason is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload a Document</label>
                        <input asp-for="Doc" class="form-control-file" type="file" required />
                        <div class="invalid-feedback">Document is required.</div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info" type="submit" value="Submit" />
                        <input class="btn btn-outline-info" type="reset" value="Reset" />
                    </div>
                </form>
    </div>
</body>
@{
    if (TempData["msglea"] != null)
    {
        if (TempData["msglea"].ToString() == "Yes")
        {
            <script>
                var modal = document.getElementById("myModal");
                var span = document.getElementsByClassName("close")[0];
                modal.style.display = "block";
                span.onclick = function () {
                    window.location.href = "Leavespage";
                    modal.style.display = "none";
                }
            </script>
        }
        if (TempData["msglea"].ToString() == "No")
        {
            <script>
                alert("Leave application failed")
            </script>
        }
    }
    else
    {
        <script>
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        </script>
    }
    TempData["msglea"] = null;
}