@model LoginPage.Models.Leaveapp
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="empop">Employee Home Page</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="empop">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="#">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto">

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <center><h1>Leave Application</h1></center>
                <form class="was-validated" method="post" enctype="multipart/form-data" asp-action="Leaveapplication">
                    <div class="alert alert-success alert-dismissible fade show" id="myAlert">
                        <button type="button" class="close">&times;</button>
                        <strong>Success!</strong> Leave request submitted.
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <input asp-for="Startdate" class="form-control" type="date" required />
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Start date is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <input asp-for="Enddate" class="form-control" type="date" required />
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">End date is required.</div>
                    </div>
                    <div class="form-group">
                        <label for="Select1">Leave Type</label>
                        <select asp-for="Leavetype" class="form-control" id="Select1" required>
                            <option value="Sick Leave">Sick Leave</option>
                            <option value="Casual Leave">Casual Leave</option>
                            <option value="Earned Leave">Earned Leave</option>
                            <option value="Flexi Leave">Flexi Leave</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Reason</label>
                        <input asp-for="Reason" class="form-control" type="text" required />
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Reason is required.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload a Document</label>
                        <input asp-for="Doc" class="form-control-file" type="file" required />
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Document is required.</div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info" type="submit" value="Submit" />
                        <input class="btn btn-outline-secondary" type="reset" value="Reset" />
                    </div>
                </form>
    </div>
</body>
@{
    if (TempData["msgl"] != null)
    {
        if (TempData["msgl"].ToString() == "Yes")
        {
            <script>
                $(document).ready(function () {
                    $("#myAlert").show('slow', function () {
                        $(".close").click(function () {
                            $("#myAlert").alert("close");
                            window.location.replace("Leavespage");
                        });
                    });
                });
            </script>
        }
        if (TempData["msgl"].ToString() == "No")
        {
            <script>
                alert("Leave application failed")
            </script>
        }
    }
    else
    {
        <script>
            $(document).ready(function () {
                $("#myAlert").hide()
            });
        </script>
    }
}