@model LoginPage.Models.Newemp
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url(../../images/bg1.jpg);
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            font-size: large;
        }

        /* The Close Button */
        .close1 {
            color: #aaaaaa;
            float: right;
            font-size: 30px;
            font-weight: bold;
            padding-left: 300px;
        }

            .close1:hover,
            .close1:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<script>
    
    function validate(ev) {
        ev.preventDefault;
        var pwd1 = document.getElementById("pwd1").value;
        var pwd2 = document.getElementById("pwd2").value;
        if (pwd1 !== pwd2) {
            $(document).ready(function () {
                $("#myAlert1").show("slow", function () {
                    $(".close").click(function () {
                        $("#myAlert1").alert("close");
                    });
                });
            });
            return false;
        }
        else {
            return true;
        }
    }

</script>
<div class="container">
    <center><h1 style="font-family:'Baskerville Old Face';">Employee Registration</h1></center>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="needs-validation" asp-action="newe" onsubmit="return validate(this)" novalidate>
                <div class="form-group">
                    <label class="control-label">Employee ID</label>
                    <input asp-for="id" class="form-control" type="number" required>
                    <div class="invalid-feedback">Employee ID is required.</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" id="pwd1" type="password" required />
                    <div class="invalid-feedback">Password is required.</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm password</label>
                    <input class="form-control" id="pwd2" type="password" required />
                    <div class="invalid-feedback">Please retype the password.</div>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" style="display:none;" id="myAlert2">
                    <button type="button" class="close">&times;</button>
                    Employee already exists, please login.
                </div>
                <div class="alert alert-danger alert-dismissible fade show" style="display:none;" id="myAlert3">
                    <button type="button" class="close">&times;</button>
                    Employee does not exist. Contact your admin.
                </div>
                <div class="alert alert-danger alert-dismissible fade show" style="display:none;" id="myAlert1">
                    <button type="button" class="close">&times;</button>
                    Passwords do not match.
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Register" />
                    <input class="btn btn-outline-primary ml-4" type="reset" value="Reset" />
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close1">&times;</span>
                        <p>Registration done. Please login.</p>
                    </div>
                </div>
                <a href="Emplogin">Back to Login</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
@{

    if (TempData["msg1"] != null)
    {
        if (TempData["msg1"].ToString() == "Yes")
        {
            <script>
                var modal = document.getElementById("myModal");
                var span = document.getElementsByClassName("close1")[0];
                modal.style.display = "block";
                span.onclick = function () {
                    window.location.href = "Emplogin";
                    modal.style.display = "none";
                }
            </script>
        }
        if (TempData["msg1"].ToString() == "No")
        {
            <script>
                $(document).ready(function () {
                    $("#myAlert3").show('slow', function () {
                        $(".close").click(function () {
                            $("#myAlert3").alert("close");
                        });
                    });
                });
            </script>
        }
        if (TempData["msg1"].ToString() == "Nor")
        {
            <script>
                $(document).ready(function () {
                    $("#myAlert2").show('slow', function () {
                        $(".close").click(function () {
                            $("#myAlert2").alert("close");
                        });
                    });
                });
            </script>
        }
    }
    else
    {
        <script>
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        </script>
    }
}
